body {
    background-color: #222831;
}
#chat {
    height: 600px;
    overflow-y: auto;
    background-color: #393e46;
}

.navbar {
    background-color: 
    #1b2027;
    color: #fff;
}

.chat-message {
    border-bottom: 1px solid #33373f;
    padding: 12px 0;
    color: #a6a9ac;
}

.chat-message:nth-child(odd) {
background-color: #33373f;
}

.chat-message:last-child {
    border-bottom: 0;
}

.btn-dark {
    background-color: #00adb5;
    border-color: #00adb5;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.6rem .700rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222831; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00adb5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }